* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    height: 100vh;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    height: 600vh;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    color: #333;
    background-color: #fff;
    line-height: 145%;

}

.container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 4rem;
}

.header {
    width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.header h1 {
    font-family: 'Helvetica', 'Roboto', sans-serif;
    color: #000;
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    line-height: 95%;
}

.header p {

}

a {
    color: inherit;
}

a:hover {
    color: #fdda24;
    text-decoration: underline;
}